* {
	padding: 0px;
	margin: 0;
	color: var(--color_letra_principal);
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	scroll-behavior: smooth;
}

:root {
	--color_letra_principal: #fff;
	--color_letra_secundario: #5271ff;
	--color_fondo: #000000;
	--color_header_footer: #262e52;
	--color_fondo_cartas: #272729;
	/* --color_fondo_cartas: #262e52; */
	/* #eaaaa0 */
}
.body {
	background-color: var(--color_fondo);
}

.efecto_scroll {
	margin: 85px 0;
}
/* Clases del header */
.header {
	background-color: var(--color_header_footer);
	width: 100%;
	height: 42px;
	position: fixed;
	grid-area: header;
	overflow: hidden;
	z-index: 100;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	/*Colocar el z-index para que este mas adelante y no se tape por el efecto hover cuando se pasa el mouse*/
}

/*Clases del Logo*/
.logo__nav {
	color: var(--color_letra_principal);
	font-size: 18pt;
	font-weight: bold;
	text-decoration: none;
}

.ul__nav {
	display: flex;
	list-style: none;
	margin-left: 50px;
}
.li__nav {
	font-size: 15pt;
}
.a__nav {
	padding: 18px;
	text-decoration-color: var(--color_letra_secundario);
	text-decoration-thickness: 3px;
}

/*Boton tipo hambuerguesa*/
.nav__toggle {
	color: var(--color_letra_principal);
	background: none;
	border: none;
	font-size: 2.1875rem;
	cursor: pointer;
	display: none;
	margin-right: 40px;
}
/* Conteneodr main */
.container {
	width: 100%;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-areas:
		"inicio"
		"sobre_mi"
		"portafolio"
		"contactame"
		"footer ";
}
/* ------------------------------ */
/* Section inicio */
.inicio {
	grid-area: inicio;
	/* background-attachment: fixed; */
	background-image: url(img/background_opcion4.webp);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 96vh;
	width: 100%;
}

.inicio__div {
	width: 100%;
	margin: auto;
	margin-top: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.foto {
	border-radius: 50%;
	border: 1px solid var(--color_letra_secundario);
	width: 245px;
	height: 270px;
	margin: 15px 70px;
}
.nombre-profesion {
	text-align: center;
	padding-top: 15px;
	font-size: 25pt;
}

.profesion {
	color: var(--color_letra_secundario);
	font-weight: bolder;
}
/* ------------------------------ */
/* Section Sobre mi */
.sobre_mi {
	grid-area: sobre_mi;
	width: 90%;
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-direction: row; /*Cambiar este para ver centrandas las img del portafolio*/
	margin-bottom: 90px;
}

.titulo__section {
	color: var(--color_letra_principal);
	text-align: center;
	margin-top: 90px;
	font-size: 23pt;
}
.linea_separadora {
	background-color: var(--color_letra_secundario);
	text-align: center;
	height: 3px;
	width: 70%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 35px;
}
.ejemploContenedor-texto {
	width: 110%;
	text-align: justify;
	font-size: 12pt;
	line-height: 175%;
}
.sobre_mi-info {
	/* El espacio que hay entre linea y linea del texto */
	padding: 0px 10px;
	font-size: 1rem;
}

.sobre_mi-info-h5 {
	padding-left: 10px;
}
.ejemploContenedor-texto span {
	color: var(--color_letra_secundario);
	margin-left: 4px;
}

.sobre_mi__button-cv {
	text-align: center;
	background-color: var(--color_letra_secundario);
	width: 240px;
	margin: 30px 10px;
	padding: 5px 0px;
	font-size: 18pt;
}

.sobre_mi__button-cv_a {
	text-decoration: none;
	text-decoration-line: none;
	color: var(--color_fondo);
}

.sobre_mi-title {
	text-align: center;
	text-decoration: underline var(--color_letra_secundario);
	padding-bottom: 10px;
}

.sobre_mi__container-box {
	margin-left: 15px;
}
.sobre_mi__container-box-title {
	text-align: center;
	padding-bottom: 8px;
	text-decoration: underline var(--color_letra_secundario);
}
.sobre_mi__container-img {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.container-img {
	background-color: var(--color_header_footer);
	border-radius: 25px;
	justify-content: center;
	justify-items: center;
	align-items: center;
	margin: 10px 20px;
	position: relative;
}
.efecto_hover {
	position: absolute;
	opacity: 0;
	font-size: 14pt;
	text-align: center;
}

.html {
	top: 47px;
	left: 39px;
}

.css {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.javascript {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mysql {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.git {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.github {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.java {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bootstrap {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.c_sharp {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.sql_server {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.firebase {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container-img img {
	width: 90px;
	height: 95px;
	padding: 15px;
}

/*------------------------------------------- */
/* Mi Portafolio */
.portafolio {
	grid-area: portafolio;
	width: 90%;
	margin: auto;
}
.portafolio__container {
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	align-content: center;
	justify-self: center;
	justify-items: center;
}
.portafolio-container-card {
	margin: 20px 5px;
	background-color: var(--color_header_footer);
	width: 45%;
	border-radius: 5px;
}

.titulo-card__portafolio {
	color: #fff;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 1.2rem;
}
.portafolio__container-img {
	text-align: center;
	align-self: center;
	justify-content: center;
	width: 95%;
	object-fit: scale-down;
}
.portafolio__container-informacion {
	text-align: justify;
	font-size: 1rem;
	padding: 10px 15px;
}

.portafolio-container-card:hover {
	background-color: var(--color_fondo_cartas);
	transition: background-color 0.4s;
}
.portafolio-container-card:hover .portafolio__container-img {
	border-bottom: 1px solid var(--color_letra_secundario);
	transition: border-bottom 0.4s;
}
.portafolio-container-card:hover .titulo-card__portafolio {
	transition: text-decoration 0.4s;
	text-decoration: 2px underline var(--color_letra_secundario);
}

.contactame {
	grid-area: contactame;
	width: 90%;
	margin: auto;
	text-align: center;
}
.contactame-container-titulo {
	text-decoration: underline;
	text-decoration-color: var(--color_letra_secundario);
	text-align: center;
	font-size: 22pt;
}
.contactame-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.contactame__caja {
	width: 270px;
	height: 210px;
	margin: 20px 20px;
	background-color: var(--color_header_footer);
	border-radius: 18px;
}
.contactame__caja-contacto {
	color: var(--color_letra_principal);
	text-align: center;
	padding: 12px;
}

.contactame__caja-img {
	width: 39%;
	height: 52%;
	margin-top: 35px;
}

.footer {
	grid-area: footer;
	background-color: var(--color_header_footer);
	padding: 10px;
}
.footer__items {
	text-align: center;
	font-size: 0.75rem;
	color: var(--color_letra_principal);
}
@media screen and (max-width: 1250px) {
	/* Mi Portafolio */
	.portafolio {
		grid-area: portafolio;
		width: 90%;
		margin: auto;
	}
	.portafolio__container {
		margin: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-align: center;
		align-items: center;
		align-content: center;
		justify-self: center;
		justify-items: center;
	}
	.portafolio-container-card {
		margin: 20px 5px;
		width: 80%;
		border-radius: 5px;
	}
}

/* Diseño responsive(movil,tablet) */
@media (max-width: 880px) {
	.header {
		background-color: var(--color_header_footer);
		width: 100%;
		height: 40px;
		position: fixed;
		grid-area: header;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		z-index: 100;

		/*Colocar el z-index para que este mas adelante y no se tape por el efecto hover cuando se pasa el mouse*/
	}
	.nav__toggle {
		color: var(--color_letra_principal);
		background: none;
		border: none;
		font-size: 1.9rem;
		cursor: pointer;
		display: block;
		margin-top: 3px;
		margin-right: 12px;
	}
	.logo__nav {
		color: var(--color_letra_principal);
		font-size: 1rem;
		margin: 3px 0;
		font-weight: bold;
	}

	.nav__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--color_header_footer);
		position: fixed;
		top: 40px;
		width: 100%;
		height: 100%;
		left: 100%;
		transition: left 0.8s;
	}

	.nav__header_visible {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--color_header_footer);
		position: fixed;
		top: 40px;
		width: 100%;
		height: 100%;
		left: 0;
		transition: left 0.8s;
	}

	.ul__nav {
		display: flex;
		margin: 15px auto;
		text-align: center;
		flex-direction: column;
	}
	.li__nav {
		font-size: 28pt;
		text-align: center;
		padding: 35px 0;
		text-decoration: none;
	}

	.li__nav:hover .a__nav {
		transition: all 0.4s;
		background: none;
		opacity: 0.4;
	}

	.inicio {
		height: 86vh;
		width: 100%;
	}
	.inicio__div {
		width: 100%;
		margin: auto;
		margin-top: 120px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.foto {
		border-radius: 50%;
		border: 0px solid var(--color_letra_secundario);
		width: 180px;
		height: 195px;
	}
	.nombre-profesion {
		text-align: center;
		padding: 0px 20px;
	}

	.nombre {
		font-size: 2.2rem;
		padding: 4px 0;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		font-weight: bold;
	}
	.profesion {
		font-size: 2.2rem;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	}
	/* Section Sobre Mi */
	.sobre_mi {
		grid-area: sobre_mi;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		align-content: flex-end;
		flex-direction: column; /*Cambiar este para ver centrandas las img del portafolio*/
	}
	.titulo__section {
		font-size: 26pt;
	}
	.sobre_mi-title {
		text-decoration: underline;
		text-decoration-color: var(--color_letra_secundario);
		margin-top: 30px;
		text-align: center;
	}

	.sobre_mi-info {
		width: 100%;
		padding: 5px;
		font-size: 1rem;
		color: var(--color_letra_principal);
	}

	.sobre_mi__contaier span {
		color: var(--color_letra_secundario);
		margin-left: 3px;
		line-height: 200%;
	}

	.sobre_mi__button-cv {
		text-align: center;
		width: 100%;
		/* Cuando sea responsive colocar el boton con un ancho del 100% */
		margin-top: 20px;
		margin-bottom: 50px;
		padding: 8px 0;
	}
	.sobre_mi__button-cv_a {
		text-align: center;
		text-decoration: none;
		text-decoration-line: none;
		color: var(--color_letra_principal);
		font-size: 18pt;
	}

	.sobre_mi-info-h5 {
		padding-left: 8px;
	}

	.sobre_mi__container-box-title {
		text-align: center;
		padding: 15px 0px;
		text-decoration: underline var(--color_letra_secundario);
	}

	.ejemploContenedor-texto {
		width: 95%;
		padding: 0px 15px;
		margin: auto;
		text-align: justify;
	}
	.sobre_mi__container-img {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

	.container-img {
		background-color: var(--color_header_footer);
		border-radius: 25px;
		justify-content: center;
		justify-items: center;
		align-items: center;
		margin: 10px 8px;
		position: relative;
	}

	/*Section Mi portafolio*/
	.portafolio {
		width: 94%;
	}
	.portafolio-container-card {
		margin: 25px 0px;
		background-color: var(--color_header_footer);
		width: 100%;
	}
	.portafolio__container-informacion {
		padding: 5px 10px;
		text-align: justify;
		font-size: 0.7rem;
	}
	.portafolio__container-img {
		width: 100%;
	}
	.contactame-container {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}
	.contactame__caja {
		margin: 15px auto;
		background-color: var(--color_header_footer);
		border-radius: 15px;
		font-size: 0.87rem;
	}

	.contactame__caja-img {
		width: 39%;
		height: 52%;
		margin-top: 35px;
	}
	.footer__items {
		text-align: center;
		font-size: 0.6rem;
		color: var(--color_letra_principal);
	}

	/* Pseudo elemento responsive */
	.logo__nav::before {
		content: "<";
		color: var(--color_letra_secundario);
		font-size: 0.85rem;
		font-weight: bold;
		padding-right: 3px;
		margin-left: 40px;
	}
	.logo__nav::after {
		content: "/>";
		color: var(--color_letra_secundario);
		font-size: 0.85rem;
		font-weight: bold;
		padding-left: 3px;
	}
	/* ---------------------------------- */
}

/*-------------------*/
/*Pseudo clases*/
.logo__nav::before {
	content: "<";
	color: var(--color_letra_secundario);
	font-size: 20pt;
	font-weight: bold;
	padding-right: 3px;
}
.logo__nav::after {
	content: "/>";
	color: var(--color_letra_secundario);
	font-size: 20pt;
	font-weight: bold;
	padding-left: 3px;
}

.container-img:hover {
	background-color: var(--color_fondo_cartas);
	transition: background-color 0.4s;
}
/* Opacidad de la imagen de los lenguajes */
.container-img:hover img {
	opacity: 0.18;
	transition: opacity 0.4s;
}
/* Efecto que cambia el color de la letra en los lenguajes */
.container-img:hover .efecto_hover {
	transition: opacity 0.4s;
	color: var(--color_letra_principal);
	opacity: 1;
}
/* Efecto encima cuando se paso por un contacto */
.contactame__caja:hover {
	background-color: var(--color_fondo_cartas);
	opacity: 0.7;
	transition: opacity 0.2s;
}
