* {
	padding: 0px;
	margin: 0px;
	color: var(--color_letra_principal);
	scroll-behavior: smooth;
}
:root {
	--color_letra_principal: #fff;
	--color_letra_secundario: #4271ff;
	--color_fondo: #000000;
	--color_header_footer: #262e52;
	--color_fondo_cartas: #272729;
}
.body {
	font-size: 16pt;
	font-family: "Montserrat", sans-serif;
	background-color: var(--color_fondo);
}
.efecto_scroll {
	margin: 80px 0;
}
/* Css Para el Modal */
.modal_visible {
	position: absolute;
	transform: scale(0) translate(120px);
	transition: transform 0.5s;
}

.modal_invisible {
	z-index: 999;
	display: block;
	position: fixed;
	display: flex;
	justify-content: center;
	align-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	backdrop-filter: blur(3px);
	background-color: rgb(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	transform: scale(1);
	transition: transform 0.5s, background-color 0.5s;
}

.ventana__modal {
	position: sticky;
	top: 30%;
	left: 0;
	right: 0;
	bottom: 0;
	width: 22em;
	height: 13.5em;
	border-radius: 10px;
	background-color: var(--color_header_footer);
	min-width: 280px;
	display: grid;
	grid-template-columns: 100% 1fr;
	box-shadow: 2px 2px 15px var(--color_fondo_cartas);
	border: 4px solid var(--color_fondo_cartas);
}

.ventana__modal:hover {
	background-color: rgb(38, 46, 82, 0.94);
	box-shadow: 2px 2px 20px var(--color_fondo_cartas);
	transition: all 0.4s;
}

.modal__button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
}
.modal__button {
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
	text-align: center;
	font-size: 0.75em;
	color: white;
	width: 13em;
	padding: 0.7em;
	margin: 0.525em;
	background-color: var(--color_letra_secundario);
	box-shadow: 1px 1px 10px var(--color_fondo_cartas);
	border: 2px solid var(--color_fondo_cartas);
	border-radius: 10px;
}

.btn_exit {
	position: relative;
	font-size: 1em;
	background-color: var(--color_letra_secundario);
	border: 0px;
	border-radius: 7px;
	width: 32px;
	height: 32px;
	left: 44%;
	right: 0;
	bottom: 13%;
	cursor: pointer;
}
.btn_exit_unit {
	left: 44%;
	right: 0;
	bottom: 29%;
}
/* Fin */
/* Clases del header */
.header {
	background-color: var(--color_header_footer);
	width: 100%;
	height: 2.625em;
	position: fixed;
	grid-area: header;
	overflow: hidden;
	z-index: 90;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

/*Clases del Logo*/
.logo__nav {
	color: var(--color_letra_principal);
	font-size: 17pt;
	font-weight: bold;
	text-decoration: none;
}

.ul__nav {
	display: flex;
	list-style: none;
	margin-left: 3.1em;
	margin-right: -30px;
}
.li__nav {
	font-size: 13pt;
}
.a__nav {
	padding: 20px;
	text-decoration-color: var(--color_letra_secundario);
	text-decoration-thickness: 2px;
}

/*Boton tipo hambuerguesa*/
.nav__toggle {
	color: var(--color_letra_principal);
	background: none;
	border: none;
	font-size: 2.1875em;
	cursor: pointer;
	display: none;
	margin-right: 2.5em;
}
/* Conteneodr main */
.container {
	width: 100%;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-areas:
		"inicio"
		"sobre_mi"
		"portafolio"
		"contactame"
		"footer ";
}
/* ------------------------------ */
/* Section inicio */
.inicio {
	grid-area: inicio;
	background-attachment: fixed;
	background: url(img/fondo.webp);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}
.inicio:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.inicio__div {
	width: 100%;
	margin: auto;
	margin-top: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.foto {
	border-radius: 50%;
	border: 3px solid var(--color_letra_secundario);
	width: 270px;
	height: 265px;
	margin: 15px 70px;
}
.nombre-profesion {
	text-align: center;
	padding-top: 15px;
	font-size: 28pt;
}

.profesion {
	color: var(--color_letra_secundario);
}
/* ------------------------------ */
/* Section Sobre mi */
.sobre_mi {
	grid-area: sobre_mi;
	width: 90%;
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	margin-bottom: 120px;
}

.titulo__section {
	color: var(--color_letra_principal);
	text-align: center;
	margin-top: 0px;
	font-size: 23pt;
}
.linea_separadora {
	background-color: var(--color_letra_secundario);
	text-align: center;
	height: 3px;
	width: 70%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 35px;
}
.ejemploContenedor-texto {
	width: 110%;
	text-align: justify;
	font-size: 12pt;
	line-height: 175%;
}
.sobre_mi-info {
	padding: 0px 10px;
	font-size: 1rem;
}

.sobre_mi-info-h5 {
	padding-left: 10px;
}
.span_sobre_mi {
	color: var(--color_letra_secundario);
	margin-left: 4px;
}

.sobre_mi__button-cv {
	text-align: center;
	background-color: var(--color_letra_secundario);
	width: 240px;
	margin: 30px 10px;
	padding: 5px 0px;
	font-size: 18pt;
}

.sobre_mi__button-cv_a {
	text-decoration: none;
	text-decoration-line: none;
	color: var(--color_letra_principal);
}

.sobre_mi-title {
	text-align: center;
	text-decoration: underline var(--color_letra_secundario);
	padding-bottom: 10px;
}

.sobre_mi__container-box {
	margin-left: 15px;
}
.sobre_mi__container-box-title {
	text-align: center;
	padding-bottom: 8px;
	text-decoration: underline var(--color_letra_secundario);
}
.sobre_mi__container-img {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.container-img {
	background-color: var(--color_header_footer);
	border-radius: 25px;
	justify-content: center;
	justify-items: center;
	align-items: center;
	margin: 10px 20px;
	position: relative;
}
.efecto_hover {
	position: absolute;
	opacity: 0;
	font-size: 14pt;
	text-align: center;
}

.html {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.css {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.javascript {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.react {
	top: 47px;
	left: 39px;
}

.mysql {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.git {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.github {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.java {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bootstrap {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.c_sharp {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.sql_server {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.firebase {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container-img img {
	width: 90px;
	height: 95px;
	padding: 15px;
}

/*------------------------------------------- */
/* Mi Portafolio */
.portafolio {
	grid-area: portafolio;
	width: 90%;
	margin: auto;
}
.portafolio__container {
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	align-content: center;
	justify-self: center;
	justify-items: center;
}
.links_portafolio {
	text-decoration: none;
}
.portafolio-container-card {
	position: relative;
	margin: 20px 0px;
	background-color: var(--color_header_footer);
	width: 43%;
	border-radius: 5px;
	border-radius: 7px;
}
.portafolio-container-card img {
	cursor: pointer;
}
.portafolio-container-card img:hover {
	opacity: 0.8;
}

.titulo-card__portafolio {
	color: #fff;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 1.2rem;
	text-decoration: underline 3px var(--color_letra_secundario);
}
.portafolio__container-img {
	justify-content: center;
	width: 97%;
}
.portafolio__container-informacion {
	text-align: justify;
	font-size: 0.85rem;
	padding: 10px 15px;
	line-height: 1.145em;
	padding-bottom: 25px;
}

.contactame {
	grid-area: contactame;
	margin: auto;
	text-align: center;
}

.contactame-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	color: var(--color_letra_principal);
}
.contactame__caja {
	width: 250px;
	height: 200px;
	margin: 20px 20px;
	background-color: var(--color_header_footer);
	border-radius: 20px;
}
.contactame__caja-contacto {
	font-size: 12pt;
}
.contactame__caja-img {
	cursor: pointer;
	width: 40%;
	height: 52%;
	margin-top: 1.9em;
}

.link_contactame {
	text-decoration: none;
}
.footer {
	grid-area: footer;
	background-color: var(--color_header_footer);
	padding: 6px;
}
.footer__items {
	text-align: center;
	font-size: 0.75rem;
	color: var(--color_letra_principal);
}

/* Responsive para laptops y PcS */
@media screen and (max-width: 1250px) {
	/* Mi Portafolio */
	.portafolio {
		grid-area: portafolio;
		width: 90%;
		margin: auto;
	}
	.portafolio__container {
		margin: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-align: center;
		align-items: center;
		align-content: center;
		justify-self: center;
		justify-items: center;
	}
	.portafolio-container-card {
		margin: 20px 5px;
		width: 80%;
		border-radius: 5px;
	}
}
/* media query para dispositivos moviles largo */
@media screen and (max-height: 600px) {
	.ventana__modal {
		top: 20%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 20em;
		height: 11.5em;
		min-width: 270px;
	}
	.modal__button {
		margin: 0.625em;
		font-size: 1.1em;
	}
	.btn_exit {
		left: 45%;
		right: 0;
		bottom: 2%;
	}
	.btn_exit_unit {
		left: 44%;
		bottom: 20%;
	}
	.header {
		background-color: var(--color_header_footer);
		width: 100%;
		height: 34px;
		position: fixed;
		grid-area: header;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		z-index: 100;
	}
	.nav__toggle {
		color: var(--color_letra_principal);
		background: none;
		border: none;
		font-size: 1.9rem;
		cursor: pointer;
		display: block;
		margin-top: 3px;
		margin-right: 12px;
	}
	.logo__nav {
		color: var(--color_letra_principal);
		font-size: 0.8125em;
		margin: 3px 0;
		font-weight: bold;
		padding-left: 8px;
	}

	.nav__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--color_header_footer);
		position: fixed;
		top: 34px;
		width: 100%;
		height: 100%;
		left: 100%;
		transition: left 0.8s;
	}

	.nav__header_visible {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--color_header_footer);
		position: fixed;
		top: 34px;
		width: 100%;
		height: 100%;
		left: 0;
		transition: left 0.8s;
	}

	.ul__nav {
		display: flex;
		margin: 15px auto;
		text-align: center;
		flex-direction: column;
	}
	.li__nav {
		font-size: 28pt;
		text-align: center;
		padding: 35px 0;
		text-decoration: none;
	}

	.inicio {
		height: 100vh;
		width: 100%;
		background-attachment: initial;
	}

	.inicio__div {
		width: 100%;
		margin: 0 auto;
		margin-top: 50px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.foto {
		width: 210px;
		height: 200px;
	}
	.nombre-profesion {
		text-align: center;
	}

	.nombre {
		font-size: 1.3em;
		padding: 4px 0;
	}
	.profesion {
		font-size: 1.4em;
	}
	/* Section Sobre Mi */
	.sobre_mi {
		grid-area: sobre_mi;
		margin-top: 120px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		align-content: flex-end;
		flex-direction: column;
	}
	.titulo__section {
		margin-top: 70px;
	}

	.linea_separadora {
		background-color: var(--color_letra_secundario);
		text-align: center;
		height: 3px;
		width: 70%;
		margin: auto;
		margin-top: 15px;
		margin-bottom: 25px;
	}
	.sobre_mi-title {
		text-decoration: underline;
		text-decoration-color: var(--color_letra_secundario);
		margin-top: 30px;
		text-align: center;
	}

	.sobre_mi-info {
		width: 100%;
		padding: 5px;
		font-size: 1rem;
		color: var(--color_letra_principal);
	}

	.sobre_mi__contaier span {
		color: var(--color_letra_secundario);
		margin-left: 3px;
		line-height: 200%;
	}

	.sobre_mi__button-cv {
		text-align: center;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 50px;
		padding: 8px 0;
	}
	.sobre_mi__button-cv_a {
		text-align: center;
		text-decoration: none;
		text-decoration-line: none;
		color: var(--color_letra_principal);
		font-size: 18pt;
	}

	.sobre_mi-info-h5 {
		padding-left: 8px;
	}

	.sobre_mi__container-box-title {
		text-align: center;
		padding: 15px 0px;
		text-decoration: underline var(--color_letra_secundario);
	}

	.ejemploContenedor-texto {
		width: 95%;
		padding: 0px 15px;
		margin: auto;
		text-align: justify;
	}
	.sobre_mi__container-img {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

	.container-img {
		background-color: var(--color_header_footer);
		border-radius: 25px;
		justify-content: center;
		justify-items: center;
		align-items: center;
		margin: 10px 8px;
		position: relative;
	}

	/*Section Mi portafolio*/
	.portafolio {
		width: 94%;
	}
	.portafolio-container-card {
		margin: 25px 0px;
		background-color: var(--color_header_footer);
		width: 100%;
		height: 100%;
	}
	.portafolio__container-informacion {
		padding: 5px 10px;
		text-align: justify;
		font-size: 0.9rem;
	}
	.portafolio__container-img {
		width: 100%;
	}
	.contactame-container {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}
	.contactame__caja {
		background-color: var(--color_header_footer);
		border-radius: 15px;
		font-size: 0.87rem;
	}

	.contactame__caja-img {
		width: 39%;
		height: 52%;
		margin-top: 35px;
	}
	.footer__items {
		text-align: center;
		font-size: 0.6rem;
		color: var(--color_letra_principal);
	}
}

/* Diseño responsive(movil,tablet) */

@media all and (max-width: 700px) {
	/*Estilos para el Modal */
	.ventana__modal {
		position: sticky;
		top: 30%;
		left: 0;
		right: 0;
		bottom: 0;
		width: 15em;
		height: 11em;
		min-width: 250px;
		border: 2px solid var(--color_fondo_cartas);
	}
	.modal__button {
		font-size: 0.55em;
		padding: 8px;
		width: 60%;
	}
	.btn_exit {
		left: 44%;
		right: 0;
		bottom: 13%;
	}
	.btn_exit_unit {
		left: 43%;
		right: 0;
		bottom: 27%;
	}
	/* ------------- */
	.inicio {
		height: 100%;
		width: 100%;
	}
	.header {
		background-color: var(--color_header_footer);
		width: 100%;
		height: 40px;
		position: fixed;
		grid-area: header;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		z-index: 100;
	}
	.nav__toggle {
		color: var(--color_letra_principal);
		background: none;
		border: none;
		font-size: 1.9rem;
		cursor: pointer;
		display: block;
		margin-top: 3px;
		margin-right: 12px;
	}
	.logo__nav {
		color: var(--color_letra_principal);
		font-size: 1rem;
		font-weight: bold;
	}

	.nav__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--color_header_footer);
		position: fixed;
		top: 40px;
		width: 100%;
		height: 100%;
		left: 100%;
		transition: left 0.8s;
	}

	.nav__header_visible {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--color_header_footer);
		position: fixed;
		top: 40px;
		width: 100%;
		height: 100%;
		left: 0;
		transition: left 0.8s;
	}

	.ul__nav {
		display: flex;
		margin: 15px auto;
		text-align: center;
		flex-direction: column;
	}
	.li__nav {
		font-size: 28pt;
		text-align: center;
		padding: 35px 0;
		text-decoration: none;
	}

	.inicio {
		height: 100%;
		width: 100%;
	}

	.inicio__div {
		width: 100%;
		margin-bottom: 40px;
		margin-top: 130px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.foto {
		border-radius: 50%;
		width: 230px;
		height: 220px;
	}
	.nombre {
		font-size: 35px;
	}
	.profesion {
		font-size: 36px;
	}
	/* Section Sobre Mi */
	.sobre_mi {
		grid-area: sobre_mi;
		margin-top: 120px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		align-content: flex-end;
		flex-direction: column;
	}

	.linea_separadora {
		background-color: var(--color_letra_secundario);
		text-align: center;
		height: 3px;
		width: 70%;
		margin: auto;
		margin-top: 15px;
		margin-bottom: 25px;
	}
	.sobre_mi-title {
		text-decoration: underline;
		text-decoration-color: var(--color_letra_secundario);
		margin-top: 30px;
		text-align: center;
	}

	.sobre_mi-info {
		font-size: 1em;
		color: var(--color_letra_principal);
	}
	.sobre_mi__button-cv {
		text-align: center;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 50px;
		padding: 8px 0;
	}
	.sobre_mi__button-cv_a {
		text-align: center;
		text-decoration: none;
		text-decoration-line: none;
		color: var(--color_letra_principal);
		font-size: 1.2em;
	}

	.sobre_mi__container-box-title {
		text-align: center;
		padding: 20px 0px;
		text-decoration: underline var(--color_letra_secundario);
	}

	.ejemploContenedor-texto {
		width: 95%;
		padding: 0px 15px;
		margin: auto;
		text-align: justify;
	}
	.sobre_mi__container-img {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

	.container-img {
		background-color: var(--color_header_footer);
		border-radius: 25px;
		justify-content: center;
		justify-items: center;
		align-items: center;
		margin: 10px 8px;
		position: relative;
	}

	/*Section Mi portafolio*/
	/* .portafolio {
	} */
	.portafolio-container-card {
		width: 100%;
		margin: 20px 0;
		background-color: var(--color_header_footer);
	}
	.portafolio__container-informacion {
		padding: 0.3125em 0.625em;
		padding-bottom: 1.55em;
		text-align: justify;
		font-size: 0.634em;
		line-height: 1.25em;
	}
	/* .portafolio__container-img {
		width: 100%;
	} */
	.contactame-container {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}
	.contactame__caja {
		margin: 15px 12px;
		background-color: var(--color_header_footer);
		border-radius: 15px;
		font-size: 1em;
	}

	.contactame__caja-img {
		margin-top: 35px;
	}
	.footer__items {
		text-align: center;
		font-size: 0.7rem;
		color: var(--color_letra_principal);
	}

	/* Pseudo elemento responsive */

	.logo__nav::before {
		content: "<";
		color: var(--color_letra_secundario);
		font-size: 0.85rem;
		font-weight: bold;
		padding-right: 3px;
		margin-left: 40px;
	}
	.logo__nav::after {
		content: "/>";
		color: var(--color_letra_secundario);
		font-size: 0.85rem;
		font-weight: bold;
		padding-left: 3px;
	}
	.li__nav:hover .a__nav {
		transition: all 0.4s;
		background: none;
		opacity: 0.4;
	}
	/* ---------------------------------- */
}

/*-------------------*/
/*Pseudo clases*/
.logo__nav::before {
	content: "{";
	color: var(--color_letra_secundario);
	font-size: 1.5625em;
	font-weight: bold;
	padding-right: 4px;
}
.logo__nav::after {
	content: "}";
	color: var(--color_letra_secundario);
	font-size: 1.5625em;
	font-weight: bold;
	padding-left: 4px;
}

.container-img:hover {
	background-color: rgb(38, 46, 82, 0.8);
	transition: background-color 0.4s;
}

/* Opacidad de la imagen de los lenguajes */
.container-img:hover img {
	opacity: 0.1;
	transition: opacity 0.4s;
}

.container-img:hover .efecto_hover {
	opacity: 1;
	color: white;
	transition: opacity 0.4s;
}

.modal__button:hover {
	background-color: rgb(66, 113, 255, 0.7);
	transition: background-color 0.4s;
}
.btn_exit:hover {
	background-color: rgb(66, 113, 255, 0.7);
	transition: background-color 0.4s;
}
